<div fxLayout="row warp" style="text-align: center;">
    <div fxFlex="33" fxFlex.gt-xs="33" fxFlex.gt-sm="33" fxFlex.gt-md="33" fxFlex.gt-lg="33">
        <button mat-raised-button color="primary" routerLink="/home">Home</button>
    </div>
    <div fxFlex="33" fxFlex.gt-xs="33" fxFlex.gt-sm="33" fxFlex.gt-md="33" fxFlex.gt-lg="33">
        <button mat-raised-button color="primary" routerLink="/user">User</button>
    </div>
    <div fxFlex="33" fxFlex.gt-xs="33" fxFlex.gt-sm="33" fxFlex.gt-md="33" fxFlex.gt-lg="33">
        <button mat-raised-button color="primary" routerLink="">Default</button>
    </div>
</div>
<router-outlet></router-outlet>